
img {
    max-height: 250px;
    max-width: 250px;
}
.col-md-3 {
    padding-bottom: 5px;
}
.card {
    /* min-width: 360px; */
    min-height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 8%);
}
.progress {
    margin-top: 20px;
    width: 100%;
}